# Python
__pycache__/
*.py[cod]
*.pyc

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# Frontend
node_modules/
dist/

# OS
Thumbs.db
.DS_Store

# Logs
*.log